{/*Css pour le form de creation d'un membre*/}

form {
  width: 80%;
  margin: auto;
  max-width: 550px;
}
input,
form button,
label {
  display: block;
}
form button,
input,
textarea {
  outline: none;
}
input,
textarea {

  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(199, 199, 199);
  padding: 20px;
  font-size: 90%;
  width: 100%;
  height: 30px;
  color: rgb(242, 236, 236);
}
textarea {
  height: 50px;
}
label {
  margin: 0px;
}
form button {
  --accent: rgb(0, 162, 255);
  margin-top: 20px;
}

.form-container {
  width: 90%;
}

